# コミットごとに Unit Test 実行
name: Build & Test

on: push

jobs:
  build-test:
    strategy:
      fail-fast: false
      matrix:
        platform: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.platform }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version: 17
      - uses: ./.github/actions/gradle-cache
      - name: JVM Build
        run: |
          ./gradlew jvmTestClasses
      - name: JS Browser / Nodejs Build
        run: |
          ./gradlew jsTestClasses
      - name: Android Build
        if: contains(matrix.platform, 'ubuntu')
        run: |
          ./gradlew packageDebugAndroidTest
      - name: Linux Test Build
        if: contains(matrix.platform, 'ubuntu')
        run: |
          ./gradlew linkDebugTestLinuxX64
      - name: Windows Build
        if: contains(matrix.platform, 'windows')
        run: |
          C:/msys64/usr/bin/pacman -S --noconfirm mingw-w64-x86_64-sqlite3
          ./gradlew linkDebugTestMingwX64
      - name: iOS Build
        if: contains(matrix.platform, 'macos')
        run: |
          ./gradlew linkDebugTestIosSimulatorArm64
      - name: macOS Build
        if: contains(matrix.platform, 'macos')
        run: |
          ./gradlew linkDebugTestMacosArm64
      - name: JVM Test
        run: |
          ./gradlew jvmTest
      - name: install python3 setuptools
        if: contains(matrix.platform, 'macos')
        run: |
          # https://github.com/WiseLibs/better-sqlite3/pull/1100
          brew install python-setuptools
      - name: JS Nodejs Test
        run: |
          ./gradlew jsNodeTest
      - name: JS Browser
        if: contains(matrix.platform, 'macos')
        run: |
          ./gradlew jsBrowserTest
      - name: Enable KVM group for Android Emulator
        if: contains(matrix.platform, 'ubuntu')
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - name: Android Test
        uses: reactivecircus/android-emulator-runner@1dcd0090116d15e7c562f8db72807de5e036a4ed # v2.34.0
        if: contains(matrix.platform, 'ubuntu')
        with:
          api-level: 29
          script: ./gradlew connectedDebugAndroidTest
      - name: Linux Test
        if: contains(matrix.platform, 'ubuntu')
        run: |
          ./gradlew linuxX64Test
      - name: Windows Test
        if: contains(matrix.platform, 'windows')
        run: |
          cp -f C:/msys64/mingw64/bin/libsqlite3-0.dll kottage/build/bin/mingwX64/debugTest/
          ./gradlew mingwX64Test
      - name: iOS Test
        if: contains(matrix.platform, 'macos')
        run: |
          ./gradlew iosSimulatorArm64Test
      - name: macOS Test
        if: contains(matrix.platform, 'macos')
        run: |
          ./gradlew macosArm64Test
      - name: Stop Gradle on Windows
        if: contains(matrix.platform, 'windows')
        run: |
          # Windows で gradle cache を保存するために
          # .gradle/caches/8.0/kotlin-dsl/kotlin-dsl.lock の使用中ロックを解除する
          ./gradlew --stop
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: test-results-${{ matrix.platform }}
          path: |
            **/build/test-results/*/*.xml
            **/build/reports/tests/*
  publish-test-results:
    needs: build-test
    runs-on: ubuntu-latest
    if: always()
    steps:
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      - uses: EnricoMi/publish-unit-test-result-action@3a74b2957438d0b6e2e61d67b05318aa25c9e6c6 # v2.20.0
        with:
          junit_files: "**/test-results/*/*.xml"
          comment_mode: off
