# v*.*.* tag -> deploy XCFramework
name: Deploy Release XCFramework

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

jobs:
  deploy-xcframework:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: irgaly/kottage-package
          ref: main
          path: kottage-package
          token: ${{ secrets.KOTTAGE_GITHUB_PAT }}
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version: 17
      - uses: ./.github/actions/gradle-cache
      - name: Build Release XCFramework
        run: |
          ./gradlew assembleKottageReleaseXCFramework
      - name: Copy XCFramework
        run: |
          rsync -a --delete kottage/build/XCFrameworks/release/Kottage.xcframework kottage-package/
      - name: Commit, Push
        run: |
          cd kottage-package
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add -f Kottage.xcframework
          git commit -m "Update Kottage.xcframework"
          git tag -a "${{ github.ref_name }}" -m "${{ github.ref_name }}"
          git push origin HEAD
          git push origin "${{ github.ref_name }}"
