# main branch -> commit dependency graph
name: Update Dependencies Graph

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  update-graph:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: temurin
          java-version: 17
      - uses: ./.github/actions/gradle-cache
      - name: Update Dependencies Graph
        run: ./gradlew projectDependencyGraph
      - uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        id: gpg
        with:
          gpg_private_key: ${{ secrets.SIGNING_PGP_KEY }}
          passphrase: ${{ secrets.SIGNING_PGP_PASSWORD }}
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Commit changes
        env:
          GIT_AUTHOR_NAME: irgaly
          GIT_AUTHOR_EMAIL: ${{ steps.gpg.outputs.email }}
          GIT_COMMITTER_NAME: irgaly
          GIT_COMMITTER_EMAIL: ${{ steps.gpg.outputs.email }}
        shell: bash +e {0}
        run: |
          git commit -am "Update Project Dependencies Graph" && git push origin HEAD
          exit 0

